%head
  %style
    textarea { font-family: 'Inconsolata'; font-size: 15px; }
%body
  %h2 Query
  %form{"action"=>"/result", "method"=>"post"}
    %textarea{"cols"=>"90", "rows"=>"10", "name"=>"query"}= @raw_query
    %br
    %input{"type"=>"submit"}
  %h2 Results
  - if @query == nil || @query.empty?
    %p No results :(
  - else
    %table{"border"=>"1"}
      %tr
      - @query.first.each_name do |header|
        %th= header
      - @query.each do |solution|
        %tr
          - solution.each_value do |value|
            %td= value