%form{"action"=>"/result", "method"=>"post"}
  %textarea{"cols"=>"100", "rows"=>"8", "name"=>"query"}= @raw_query
  %input{"type"=>"submit"}
%h2 Results



%table{"border"=>"1"}
  %tr
  - @query.first.each_name do |header|
    %th= header
  - @query.each do |solution|
    %tr
      - solution.each_value do |value|
        %td= value
